:root > * {
    --md-code-font: SFMono-Regular, Menlo, monospace, Roboto Mono !important;
    --md-code-font-family: SFMono-Regular, Menlo, monospace, Roboto Mono !important;
    --md-footer-bg-color: #7c4dff;
    --md-footer-bg-color--dark: #000000;
}

[data-md-color-scheme='slate'] {
    /* --md-hue: 210; */
    --md-default-bg-color: #000;
    --md-default-bg-color: #000;
    --md-default-fg-color--light: #fff;
    --md-primary-bg-color: #fff;
}
